/*** GENERAL SETTINGS ***/
* {
  box-sizing: inherit;
  margin: 0;
}

html, body {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Cantarell', sans-serif;
  color: #555858;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1100px;
}

h1,
h2,
h3 {
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
}

h1 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  z-index: 10;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  width: 80%;
  letter-spacing: 0;
  background-color: #000;
  opacity: .7;
  border-radius: 10px;
}


h2 {
  padding: 3rem 0;
  margin: 0 auto;
  font-size: 1.5rem;
  /* display: block; */
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h2::after
/* h3::after */ {
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

/* h3::after {
  margin-top: 10px;
  margin-bottom: 10px;
} */

/*** LINKS ***/

.picture a:link,
.picture a:visited {
  color: #555858;
  text-decoration: none;
}


/*** HEADER ***/

header {
  width: 100%;
  background: #eee;
}

.header-video-container {
  width: 100%;
  position: relative;
}

.header-video {
  width: 100%; 
  height: 100%;
  object-fit: cover;
}

/*** FLEX PICTURE SECTION ***/

.pictures-box {
  background: #eee;
}

.picture {
  display: flex;
  flex-direction: column;
  
}

.picture a {
  /* border: 1px solid #e67e22;
  padding: 10px; */
  margin-bottom: 3rem;
}

.picture a:first-child {
  margin-right: 1rem;
}

.picture a:last-child {
  margin-left: 1rem;
}

.picture img {
  width:100%; 
  /* height:100%;  */
  object-fit:cover; 
}

/*** SIGNUP FORM ***/

button {
  background: #e67e22;
  border: none;
  color: #fff;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 10px;
  outline: none;
  transition: all .2s;
}

button:hover,
button:active {
  background: #d35400;
  transform: translateY(-2px);
}

.btn {
  text-align: center;
  /* padding-bottom: 3rem; */
  margin-top: 2rem;
}

form {
  text-align: left;
  width: 60%;
  margin: 0 auto;
  background: #eee;
  padding: 2rem;
  padding-bottom: 3rem;
  border-radius: 10px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.flex-box {
  display: flex;
  flex-direction: column;
}

.signup-form {
  width: 100%;
  margin-bottom: 3rem;
}

.input-text,
.container-checkbox,
.input-text input { 
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}

.container-checkbox input {
  display: block;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.radio-button {
  display: block;
  margin-bottom: 1rem;
}


input{
  outline-color: #e67e22; 
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: .7rem .5rem;
  font-family: 'Cantarell', sans-serif;
  color: #555858;
}

input::placeholder {
  font-family: 'Cantarell', sans-serif;
  color: #e67e22;
}


/*** ACCORDION ***/

.accordion {
  background: #eee;
}

/*** FOOTER ***/

footer {
  background: #733d0d;
}

/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

.active + .answer {
  /* some styling here */
}

/*** MEDIA QUERIES ***/

@media(min-width: 500px) {

  h1 {
    font-size: 1.5rem;
    top: 15%;
    transform: translate(-50%, -15%);
    width: 60%;
  }

}

@media(min-width: 668px) {

  h1 {
    font-size: 2rem;
    top: 25%;
    transform: translate(-50%, -25%);
    letter-spacing: .2rem;
    width: 65%;
  }

  h2 {
    font-size: 1.8rem;
  }

  .radio-button {
    width: 30%;
    display: inline-block;
  }
  

}

@media(min-width: 668px) and (max-width: 1024px) {
  /* .input-text,
  .container-checkbox,
  .input-text input { 
    display: block;
    width: 80%;
  } */

  .input-text input,
  .container-checkbox input  {
    display: inline-block;
    
  }

  
}

@media(min-width: 1025px) {

  h1 {
    font-size: 3rem;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 50%;
  }

  h2 {
    font-size: 2.3rem;
  }

  /*** PICTURE SECTION ***/
  .picture {
    flex-direction: row;
  }
  

  /*** SIGNUP ***/

  .flex-box {
    flex-direction: row;
  }

  .signup-form,
  .accordion {
    width: 50%;
  }

  /*** ACCORDION ***/ 

  .accordion {
    background: #fff;
  }

}

@media(min-width: 1500px) {

  h1 {
    font-size: 4rem;
    letter-spacing: 1rem;
  }

}